*.o
*.out
*.exe
*.tags*

# Mario Kart Wii general files
*.brres
*.szs
*.d
tracks/

# Pycharm
__pycache*
.idea*
*.spec
*.pyc
*.gch
venv*
# tox
.tox*

# Temporary files
tmp.*
tmp/*
temp/*
temp.*
test.*
temp_files*

# build and dist folders
abmatt/dist/abmatt_*
abmatt/dist/main*
abmatt/build/main*
abmatt/build/version

# debugging files
names.txt

#Images
*.png
