pip~=20.1.1
argparse~=1.2.1
wheel~=0.34.2
setuptools~=44.1.1
fuzzywuzzy~=0.18.0
python-levenshtein~=0.12.0
pycollada~=0.7.1
numpy~=1.19.5
pillow~=9.0.0

pyinstaller~=4.0
ifilter~=0.2
colorama~=0.4.3
lxml~=4.6.2
PyQt5~=5.15.1
tox~=3.23.0
py~=1.10.0
future~=0.18.2
filelock~=3.0.12
pluggy~=0.13.1
six~=1.15.0
toml~=0.10.2
packaging~=20.9
pytest~=6.2.3
attrs~=20.3.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
python-dateutil~=2.8.1
altgraph~=0.17
pyparsing~=2.4.7
pefile~=2019.4.18
virtualenv~=20.4.3
distlib~=0.3.1
appdirs~=1.4.4
pyqtgraph~=0.12.4